In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Read Churn Dataset and get summary of basic statistics
df=pd.read_csv('./Resources/bin_5_clean.csv')
df.describe()

,Unnamed: 0,CreditScore,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,bin_age,Geography_France,Geography_Germany,Geography_Spain,gender_0,gender_1
count,9589.000000,9589.000000,9589.000000,9589.000000,9589.000000,9589.000000,9589.000000,9589.000000,9589.000000,9589.000000,9589.000000,9589.000000,9589.000000,9589.000000,9589.000000
mean,4996.449682,650.287830,5.013974,76552.236761,1.530921,0.705809,0.502138,100200.278401,0.202628,4.687246,0.501408,0.251434,0.247158,0.453958,0.546042
std,2888.503018,96.660575,2.888560,62422.133272,0.581498,0.455702,0.500022,57500.956105,0.401979,2.082193,0.500024,0.433860,0.431382,0.497902,0.497902
min,0.000000,350.000000,0.000000,0.000000,1.000000,0.000000,0.000000,11.580000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2486.000000,583.000000,3.000000,0.000000,1.000000,0.000000,0.000000,51226.320000,0.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5005.000000,652.000000,5.000000,97266.100000,1.000000,1.000000,1.000000,100335.550000,0.000000,5.000000,1.000000,0.000000,0.000000,0.000000,1.000000
75%,7493.000000,717.000000,7.000000,127661.690000,2.000000,1.000000,1.000000,149458.730000,0.000000,6.000000,1.000000,1.000000,0.000000,1.000000,1.000000
max,9999.000000,850.000000,10.000000,250898.090000,4.000000,1.000000,1.000000,199992.480000,1.000000,10.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9589 entries, 0 to 9588
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         9589 non-null   int64
 1   CreditScore        9589 non-null   int64
 2   Tenure             9589 non-null   int64
 3   Balance            9589 non-null   float64
 4   NumOfProducts      9589 non-null   int64
 5   HasCrCard          9589 non-null   int64
 6   IsActiveMember     9589 non-null   int64
 7   EstimatedSalary    9589 non-null   float64
 8   Exited             9589 non-null   int64
 9   bin_age            9589 non-null   int64
 10  Geography_France   9589 non-null   int64
 11  Geography_Germany  9589 non-null   int64
 12  Geography_Spain    9589 non-null   int64
 13  gender_0           9589 non-null   int64
 14  gender_1           9589 non-null   int64
dtypes: float64(2), int64(13)
memory usage: 1.1 MB

### Smoteenn Remove Age Outliers

In [5]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd

In [6]:
from pathlib import Path
from collections import Counter

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [10]:
#Create Features
X = df.drop(["Exited"], axis=1)

# Create our target
y = df["Exited"]

In [11]:
# Check the balance of our target values
y.value_counts()

0    7646
1    1943
Name: Exited, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
Counter(y_train)

Counter({0: 5740, 1: 1451})

In [13]:
# Standardize the data with StandardScaler().
scaler = StandardScaler().fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [14]:
# Combined over and under sampling for imbalanced classification
from imblearn.combine import SMOTEENN

# define sampling
comb_sample = SMOTEENN(random_state=42)
X_resample, y_resample = comb_sample.fit_resample(X_train, y_train)

# Check if SMOTE-ENN were properly applied
Counter(y_resample)

Counter({0: 3419, 1: 4891})

### Fit Different Module Define

In [15]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from xgboost import XGBClassifier

### AdaBoost Model with SMOTEENN

In [16]:
# Initiate the model
smoteenn_adb = AdaBoostClassifier()

# Fit the model
smoteenn_adb_model = smoteenn_adb.fit(X_resample, y_resample.ravel())

# Make Predictions
y_pred = smoteenn_adb_model.predict(X_test)

In [17]:
# Calculated the balanced accuracy score
smoteenn_adb_accuracy = balanced_accuracy_score(y_test, y_pred)
smoteenn_adb_accuracy

0.7052728226652676

In [18]:
# Display the confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(cm, index=["Actual Active", "Actual Exited"], columns=["Predicted Active", "Predicted Exited"])

cm_df

               Predicted Active  Predicted Exited
Actual Active              1259               647
Actual Exited               123               369

In [19]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(f'smoteenn adb classification report')
print(classification_report_imbalanced(y_test, y_pred))

smoteenn adb classification report
                   pre       rec       spe        f1       geo       iba       sup

          0       0.91      0.66      0.75      0.77      0.70      0.49      1906
          1       0.36      0.75      0.66      0.49      0.70      0.50       492

avg / total       0.80      0.68      0.73      0.71      0.70      0.49      2398

### KNN with SMOTEENN

In [20]:
# Initiate the model
smoteenn_knn = KNeighborsClassifier()

# Fit the model
smoteenn_knn_model = smoteenn_knn.fit(X_resample, y_resample.ravel())

# Make Predictions
y_pred=smoteenn_knn_model.predict(X_test)

In [21]:
# Calculated the balanced accuracy score
smoteenn_knn_accuracy = balanced_accuracy_score(y_test, y_pred)
smoteenn_knn_accuracy

0.6648164973255188

In [22]:
# Display the confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(cm, index=["Actual Active", "Actual Exited"], columns=["Predicted Active", "Predicted Exited"])

cm_df

               Predicted Active  Predicted Exited
Actual Active              1221               685
Actual Exited               153               339

In [23]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(f'smoteenn knn classification report')
print(classification_report_imbalanced(y_test, y_pred))

smoteenn knn classification report
                   pre       rec       spe        f1       geo       iba       sup

          0       0.89      0.64      0.69      0.74      0.66      0.44      1906
          1       0.33      0.69      0.64      0.45      0.66      0.44       492

avg / total       0.77      0.65      0.68      0.68      0.66      0.44      2398

### SVM with SMOTEENN

In [24]:
# Initiate the model
smoteenn_svc = SVC(kernel='rbf',probability=True)

# Fit the model
smoteenn_svc_model = smoteenn_svc.fit(X_resample, y_resample.ravel())

# Make Predictions
y_pred=smoteenn_svc_model.predict(X_test)

In [25]:
# Calculated the balanced accuracy score
smoteenn_svc_accuracy = balanced_accuracy_score(y_test, y_pred)
smoteenn_svc_accuracy

0.6965146435304856

In [26]:
# Display the confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(cm, index=["Actual Active", "Actual Exited"], columns=["Predicted Active", "Predicted Exited"])

cm_df

               Predicted Active  Predicted Exited
Actual Active              1183               723
Actual Exited               112               380

In [27]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(f'smoteenn svc classification report')
print(classification_report_imbalanced(y_test, y_pred))

smoteenn svc classification report
                   pre       rec       spe        f1       geo       iba       sup

          0       0.91      0.62      0.77      0.74      0.69      0.47      1906
          1       0.34      0.77      0.62      0.48      0.69      0.49       492

avg / total       0.80      0.65      0.74      0.69      0.69      0.48      2398

### Decision Tree with SMOTEENN

In [28]:
# Initiate the model
smoteenn_tree = DecisionTreeClassifier()

# Fit the model
smoteenn_tree_model = smoteenn_tree.fit(X_resample, y_resample.ravel())

# Make Predictions
y_pred=smoteenn_tree_model.predict(X_test)

In [29]:
# Calculated the balanced accuracy score
smoteenn_tree_accuracy = balanced_accuracy_score(y_test, y_pred)
smoteenn_tree_accuracy

0.6859414855953386

In [30]:
# Display the confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(cm, index=["Actual Active", "Actual Exited"], columns=["Predicted Active", "Predicted Exited"])

cm_df

               Predicted Active  Predicted Exited
Actual Active              1410               496
Actual Exited               181               311

In [31]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(f'smoteenn tree classification report')
print(classification_report_imbalanced(y_test, y_pred))

smoteenn tree classification report
                   pre       rec       spe        f1       geo       iba       sup

          0       0.89      0.74      0.63      0.81      0.68      0.47      1906
          1       0.39      0.63      0.74      0.48      0.68      0.46       492

avg / total       0.78      0.72      0.65      0.74      0.68      0.47      2398

### Random Forest with SMOTEENN

In [32]:
# Initiate the model
smoteenn_rfc = RandomForestClassifier()

# Fit the model
smoteenn_rfc_model = smoteenn_rfc.fit(X_resample, y_resample.ravel())

# Make Predictions
y_pred = smoteenn_rfc_model.predict(X_test)

In [33]:
# Calculated the balanced accuracy score
smoteenn_rfc_accuracy = balanced_accuracy_score(y_test, y_pred)
smoteenn_rfc_accuracy

0.7073821223521783

In [34]:
# Display the confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(cm, index=["Actual Active", "Actual Exited"], columns=["Predicted Active", "Predicted Exited"])

cm_df

               Predicted Active  Predicted Exited
Actual Active              1422               484
Actual Exited               163               329

In [35]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(f'smoteenn rfc classification report')
print(classification_report_imbalanced(y_test, y_pred))

smoteenn rfc classification report
                   pre       rec       spe        f1       geo       iba       sup

          0       0.90      0.75      0.67      0.81      0.71      0.50      1906
          1       0.40      0.67      0.75      0.50      0.71      0.50       492

avg / total       0.80      0.73      0.68      0.75      0.71      0.50      2398

### XGBoost Classifier with SMOTEENN

In [36]:
# Initiate the model
smoteenn_xgb = XGBClassifier()
# Fit the model
smoteenn_xgb_model =smoteenn_xgb.fit(X_resample, y_resample.ravel())
# Make Predictions
y_pred = smoteenn_xgb_model.predict(X_test)

In [37]:
# Calculated the balanced accuracy score
smoteenn_xgb_accuracy = balanced_accuracy_score(y_test, y_pred)
smoteenn_xgb_accuracy

0.7087662836229621

In [38]:
# Display the confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(cm, index=["Actual Active", "Actual Exited"], columns=["Predicted Active", "Predicted Exited"])

cm_df

               Predicted Active  Predicted Exited
Actual Active              1528               378
Actual Exited               189               303

In [39]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(f'smoteenn xgb classification report')
print(classification_report_imbalanced(y_test, y_pred))

smoteenn xgb classification report
                   pre       rec       spe        f1       geo       iba       sup

          0       0.89      0.80      0.62      0.84      0.70      0.50      1906
          1       0.44      0.62      0.80      0.52      0.70      0.48       492

avg / total       0.80      0.76      0.65      0.78      0.70      0.50      2398

### Logistic Regression with SMOTEENN

In [40]:
# Initiate the model
smoteenn_lm = LogisticRegression()

# Fit the model
smoteenn_lm_model = smoteenn_lm.fit(X_resample, y_resample.ravel())

# Make Predictions
y_pred=smoteenn_lm_model.predict(X_test)

In [41]:
# Calculated the balanced accuracy score
smoteenn_lm_accuracy = balanced_accuracy_score(y_test, y_pred)
smoteenn_lm_accuracy

0.5973892884259377

In [42]:
# Display the confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(cm, index=["Actual Active", "Actual Exited"], columns=["Predicted Active", "Predicted Exited"])

cm_df

               Predicted Active  Predicted Exited
Actual Active               840              1066
Actual Exited               121               371

In [43]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(f'smoteenn lm classification report')
print(classification_report_imbalanced(y_test, y_pred))

smoteenn lm classification report
                   pre       rec       spe        f1       geo       iba       sup

          0       0.87      0.44      0.75      0.59      0.58      0.32      1906
          1       0.26      0.75      0.44      0.38      0.58      0.34       492

avg / total       0.75      0.51      0.69      0.54      0.58      0.33      2398